.flex.flex-wrap
  - if scenarios.present?
    - scenarios.each do |scenario|
      .checkbox-wrapper.p-2.px-5.rounded-md.text-midnight-800.bg-midnight-300.mr-2.mb-2{
        class: "hover:bg-midnight-600 hover:cursor-pointer",
        data: { version: scenario.version, 'collections-target': 'scenario' }
      }
        = check_box_tag "collection[saved_scenario_ids][]", scenario.id, false, id: "collection_saved_scenario_ids_#{scenario.id}", class: "hidden"
        = label_tag "collection_saved_scenario_ids_#{scenario.id}", scenario.title
  - else
    = t('collections.new.no_scenarios')
