- content_for :title, t('collections.new.title')
- content_for :menu_title, t('collections.new.title')
= render(partial: "block_right_menu")

= form_for(@collection, url: collections_path, html: { method: :post, class: 'flex flex-col h-full', data: { controller: 'collections' } }) do |f|
  = f.label :title, t('scenario.title'), class: 'text-sm text-gray-400 mb-2'
  = f.text_field :title, class: 'appearance-none w-1/2 rounded-md border-gray-200 mb-5', placeholder: t('collections.new.form.default_title')

  - versions = current_user.saved_scenarios.map(&:version).uniq

  - if versions.count > 1
    = f.label :version, t('collections.new.form.version'), class: 'text-sm text-gray-400 mb-2'
    = f.select :version, versions.map { |v| [v.titleize, v] }, {}, id: 'version-select', data: { action: 'collections#versionChanged', 'collections-target': 'versionSelect' }, class: 'appearance-none w-1/2 rounded-md border-gray-200 mb-5'
  - else
    = f.hidden_field :version, value: versions.first

  = f.label :saved_scenario_ids, t('collections.new.form.scenario_ids'), class: 'text-sm text-gray-400 mb-2'
  #scenarios-container{ data: { 'collections-target': 'checkboxesContainer' } }
    = render partial: 'scenarios', locals: { scenarios: current_user.saved_scenarios.order(updated_at: :desc) }

  .flex.mt-10
    - if current_user.saved_scenarios.present?
      = f.submit t('scenario.save'), class: 'button button-primary mr-5'
    = link_to t('collections.new.form.cancel'), collections_path, class: 'button'
