<div class="flex">
  <div class="flex flex-col">
    <div>
    <span>
      <%= @collection.area_code.present? ? t("areas.#{@collection.area_code}") : ""%>
    </span>
      <span><%= @collection.end_year%></span>
    </div>
    <span class="text-sm text-midnight-400"><%= "Last updated #{@time} ago"%></span>
  </div>
  <% if !@collection.discarded? %>
    <%= link_to @path, class: button_classes("mr-0 ml-auto max-h-9", color: :primary) do %>
      <%= @button_title %>
    <% end %>
  <% end %>
</div>
