<div class="flex">
  <div class="flex flex-col">
    <div>
      <span><%= @saved_t("areas.#{Scenario.area_code}")%></span>
      <span><%= @saved_scenario.end_year%></span>
    </div>
    <span class="text-sm text-midnight-400"><%= "Last updated #{@time} ago"%></span>
  </div>
  <% if !@saved_scenario.discarded? %>
    <%= link_to link_to_scenario, class: button_classes("mr-0 ml-auto max-h-9", color: :primary) do %>
      <%= @button_title %>
    <% end %>
  <% end %>
</div>
