<div class="flex">
  <div class="flex flex-col">
    <div>
      <span><%= t("areas.#{@saved_scenario.area_code}", default: @saved_scenario.area_code.upcase)%></span>
      <span><%= @saved_scenario.end_year%></span>
    </div>
    <span class="text-sm text-midnight-400">
      <%= t('last_updated', when: @time) %>
    </span>
  </div>
  <% if !@saved_scenario.discarded? %>
    <%= link_to link_to_scenario, class: button_classes("mr-0 ml-auto max-h-9", color: :primary) do %>
      <%= @button_title %>
    <% end %>
  <% end %>
</div>
