<%= render(Identity::ProfileRowComponent.new(title: t(".title.#{@audience}"))) do |row| %>
  <% if @subscribed %>
    <div class="flex items-center gap-1 text-emerald-600">
      <%= heroicon 'check-circle', options: { class: 'w-5 h-5 mr-2' } %>
      <%= t('.subscribed') %>
    </div>

    <% row.with_message do %>
      <p>
        <%= t(".subscribed_message.#{@audience}") %>
      </p>
    <% end %>

    <% row.with_button do %>
      <%= button_to t('.unsubscribe'),
                    identity_update_subscription_path(@audience),
                    params: { subscribed: false },
                    class: button_classes(color: :default_colored) %>
    <% end %>
  <% else %>
    <div class="flex items-center gap-1">
      <%= t('.not_subscribed') %>
    </div>

    <% row.with_message do %>
      <p>
        <%= t(".not_subscribed_message.#{@audience}") %>
      </p>
    <% end %>

    <% row.with_button do %>
      <%= button_to t('.subscribe'),
                    identity_update_subscription_path(@audience),
                    params: { subscribed: true },
                    class: button_classes(color: :default_colored) %>
    <% end %>
  <% end %>
<% end %>
