<%= turbo_frame_tag stimulus.turbo_frame_id do %>
  <div
    data-controller="<%= stimulus.controller %>"
    data-action="<%= stimulus.keyboard_close_action %>"
  >
    <div
      class="modal-backdrop <%= stimulus.enabled? ? "" : "animate-none transition-none" %>"
      data-modal-target="backdrop"
    ></div>
    <div class="modal-wrapper" data-action="<%= stimulus.backdrop_close_action %>">
      <div
        aria-labelledby="modal-title"
        aria-modal="true"
        class="modal <%= stimulus.enabled? ? "" : "animate-none transition-none" %>"
        data-modal-target="dialog"
        role="dialog"
        tabindex="-1"
      >
        <%# begin: header %>
        <div class="px-8 pt-5 pb-4 flex flex-col bg-midnight-300 rounded-t-md">
          <% if stimulus.enabled? %>
            <button
              class="
                -mr-2
                rounded
                ml-auto
                transition
                text-midnight-800
                hover:text-midnight-400
                active:text-midnight-400
              "
              data-action="<%= stimulus.button_close_action %>"
              aria-label="Close"
            >
              <%= heroicon 'x-circle', options: { class: 'w-6 h-6' } %>
            </button>
          <% end %>
          <h2 class="text-xl text-midnight-800" id="modal-title">
            <%= @title %>
          </h2>
        </div>
        <%# end: header %>
        <%# begin: content %>
        <div class="px-8 py-6 bg-midnight-200 rounded-b">
          <%= content %>
        </div>
        <%# end: content %>
      </div>
    </div>
  </div>
<% end %>
