<div
  data-controller="toast"
  data-action="mouseover->toast#mouseover mouseout->toast#mouseout"
  class="
    toast
    backdrop-blur-sm
    bg-midnight-940/[.85]
    bottom-4
    duration-500
    max-w-sm
    fixed
    flex
    flex-col
    pl-5
    pb-5
    right-4
    rounded-md
    shadow-md
    text-midnight-800
    transition
    z-[9999]
  "
>
  <button
    aria-label="Close"
    data-action="click->toast#close"
    class="
      pt-1
      pr-1
      ml-auto
      mr-0
      right-1
      rounded
      text-midnight-300
      top-1
      transition
      hover:text-midnight-800
    "
  >
    <%= heroicon 'x-mark', options: {class: 'w-5 h-5'} %>
  </button>
  <div class="flex pr-7">
    <% if @type == :alert %>
      <%= heroicon 'exclamation-triangle', options: {class: 'w-6 h-6 mr-2'}  %>
    <% else %>
      <%= heroicon 'exclamation-circle', options: {class: 'w-6 h-6 mr-2'} %>
    <% end %>
    <div>
      <% if @title %>
        <div class="text-base text-midnight-450">
          <%= @title %>
        </div>
        <div class="text-sm text-midnight-800">
          <%= @message %>
        </div>
      <% else %>
        <div class="text-sm text-midnight-800 mt-0.5">
          <%= @message %>
        </div>
      <% end %>
    </div>
  </div>
</div>
