<div id="<%= dom_id saved_scenario %>">
  <p>
    <strong>Scenario:</strong>
    <%= saved_scenario.scenario_id %>
  </p>

  <p>
    <strong>Scenario id history:</strong>
    <%= saved_scenario.scenario_id_history %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= saved_scenario.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= saved_scenario.description %>
  </p>

  <p>
    <strong>Area code:</strong>
    <%= saved_scenario.area_code %>
  </p>

  <p>
    <strong>End year:</strong>
    <%= saved_scenario.end_year %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= saved_scenario.private %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= saved_scenario.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= saved_scenario.updated_at %>
  </p>

  <p>
    <strong>Discarded at:</strong>
    <%= saved_scenario.discarded_at %>
  </p>

</div>
