= link_to saved_scenario do
  .mb-5{id: dom_id(saved_scenario)}
    = saved_scenario.title

    = saved_scenario.area_code

    = saved_scenario.end_year

    - if saved_scenario.private
      PRIVATE

    = saved_scenario.description

    %strong Ctreated at:
    = saved_scenario.created_at

    %strong Days since last update:
    = saved_scenario.days_until_last_update
