- content_for :menu_title, @saved_scenario.localized_title(I18n.locale)
- content_for :title, "#{@saved_scenario.localized_title(I18n.locale)} - #{t('saved_scenarios.title')} - #{t('meta.title')}"
= render(partial: "block_right_menu", locals: { saved_scenario: @saved_scenario })

= render(SavedScenarios::Info::Component.new(path: "#{@saved_scenario.version.model_url}/saved_scenarios/#{@saved_scenario.id}/load", button_title: t('saved_scenarios.open'), saved_scenario: @saved_scenario, time: time_ago_in_words(@saved_scenario.updated_at)))

- if flash[:undo_params]
  = render(NoticeBanner::Component.new(path: flash[:undo_params], text: notice_message, button_text: "#{t('undo')}?"))

- if @saved_scenario.discarded?
  = render(NoticeBanner::TrashComponent.new(text: t('trash.notice', deleted_after: SavedScenario::AUTO_DELETES_AFTER.in_days.to_i)))

.w-min
  = render(HovercardWithVersion::Component.new(version: @saved_scenario.version.tag))

.flex.gap-5.mt-5.mb-5.pb-5.border-b.border-solid.border-gray-200
  - if @saved_scenario.featured?
    = @saved_scenario.featured_owner_name
  - else
    = render(SavedScenarios::InfoUsers::Component.new(title: t('saved_scenario.owners'), users: @saved_scenario.owners, color: 'bg-midnight-900' ,privacy: @saved_scenario.no_explicit_access?(current_user)))
    = render(SavedScenarios::InfoUsers::Component.new(title: t('saved_scenario.collaborators'), users: @saved_scenario.collaborators, color: 'bg-midnight-990', privacy: @saved_scenario.no_explicit_access?(current_user)))
    = render(SavedScenarios::InfoUsers::Component.new(title: t('saved_scenario.viewers'), users: @saved_scenario.viewers, color: 'bg-midnight-970', privacy: @saved_scenario.no_explicit_access?(current_user)))

.mt-5.show-description
  - if @saved_scenario.localized_description(I18n.locale).presence
    = @saved_scenario.localized_description(I18n.locale)
  - elsif @saved_scenario.description.blank? && @saved_scenario.collaborator?(current_user) && !@saved_scenario.discarded?
    =link_to edit_saved_scenario_path(@saved_scenario), class: 'hover:underline' do
      = t('scenario.no_description')
      = t('scenario.create_description')
  - elsif @saved_scenario.description.blank?
    = t('scenario.no_description')
  - else
    = @saved_scenario.description
