<div class="rounded-md flex <%=bg_color%> p-2 px-5 mt-5 text-sm <%=text_color%>">
  <span class="mr-5 my-auto <%=icon_color%>"><%= heroicon @icon, options: { class: 'w-5 h-5' } %></span>
  <span class="mr-2"><%= @text %></span>
  <% if @path %>
    <span class="underline whitespace-nowrap hover:text-midnight-980"><%= link_to @button_text, @path, method: :put, data: { 'turbo-method': :put }%></span>
  <% end %>
</div>
