<%= render(ModalComponent.new(title: t('.title'))) do |modal| %>
  <%= turbo_frame_tag :update_featured_scenario_user_form do %>
    <%= form_for(@featured_scenario_user, url: admin_featured_scenario_user_path, html: { method: :put }) do |f| %>
      <%= render(FormSteps::WrapperComponent.new) do |steps| %>
        <%= render(FormSteps::RowComponent.new(title: t('.name'), label_for: "featured_scenario_user_name")) do |row| %>
          <%= f.text_field :name, value: @featured_scenario_user.name, required: true, autofocus: true, autocomplete: 'name', class: "field" %>

          <% row.icon { heroicon 'identification', options: {class: 'w-5 h-5 mr-2'} } %>

          <% row.after_hint do %>
            <%= render(FieldErrorsComponent.new(record: @featured_scenario_user, attribute: :name)) %>
          <% end %>
        <% end %>

        <div class="mb-5">
          <%= t('.or') %>
        </div>

        <%= render(FormSteps::RowComponent.new(title: t('.user'), label_for: "featured_scenario_user_user")) do |row| %>
          <div class="relative">
            <%= f.select :user_id, options_from_collection_for_select(User.all.order(:name), "id", "name"), class: 'mb-2'%>
          </div>

          <% row.icon { heroicon 'user', options: {class: 'w-5 h-5 mr-2'} } %>

          <% row.after_hint do %>
            <%= render(FieldErrorsComponent.new(record: @featured_scenario_user, attribute: :user)) %>
          <% end %>
        <% end %>


        <div class="mt-6 pb-2 flex items-center gap-2">
          <%= button_tag t('.submit'), class: button_classes("text-base", size: :lg, color: :success) %>
          <%= modal.close_link(t('identity.cancel'), admin_featured_scenario_users_path, class: button_classes("text-base", size: :lg)) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
