<%= link_to @path, class: "grid grid-cols-4 w-full transition mb-5 p-2 pr-4 rounded-md hover:bg-midnight-600" do %>
  <div class="flex col-span-2">
    <span class="bg-midnight-900 rounded-md h-8 w-8 mr-5 pt-1 mt-1 text-center text-midnight-200">
      <%= initials_for(first_owner) %>
    </span>
    <div class="flex flex-col">
      <span><%= @collection.name %></span>
      <div class="text-sm text-midnight-400">
        <!-- Include any relevant collection details -->
        <span><%= @collection.area_code %></span>
        <span><%= @collection.end_year %></span>
      </div>
    </div>
    <span class="text-midnight-400"> #<%= @collection.version %></span>
  </div>
  <span class="text-midnight-400 mx-auto text-sm mt-3">
    Last updated <%= time_ago_in_words(@collection.updated_at) %> ago
  </span>
  <div class="ml-auto mr-0 mt-3 text-midnight-400">
    <% if @collection.private %>
      <%= render(Hovercard::Component.new(path: '', text: t('collection.private'))) do %>
        <span><%= heroicon 'eye-slash', options: { class: 'w-4 h-4' } %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
