<%= form_for(@historical_version, url: @update_path, html: { method: :put }) do |f| %>
<%# TODO: lets do the edit with stimulus (show form) and destroy with turbo (call service, remove frame) %>
  <div
    class="grid grid-cols-4 gap-5 w-full transition mb-5 p-2 pr-4 rounded-md"
    data-controller="toggle-form"
    >
    <%# GRID COL 1 %>
    <div class="flex">
      <span class="
        bg-midnight-900
        rounded-md
        h-8
        w-8
        mr-5
        pt-1
        mt-1
        text-center
        text-midnight-200"
      >
        <%= @historical_version.user_name.first %>
      </span>
      <div class="flex flex-col">
        <%= @historical_version.user_name %>
        <span class="text-sm text-midnight-450">
          <%=  t('time_ago', time: time_ago_in_words(@historical_version.updated_at)) %>
        </span>
      </div>
    </div>

    <%# GRID COL 2/3 %>
    <div class="text-midnight-400 col-span-2 text-sm mt-3">
        <div  data-toggle-form-target="content">
          <%= description %>
        </div>
        <div data-toggle-form-target="editcontent" class="hidden">
          <%= f.text_area :description, required: true, placeholder: '...', class: 'resize-none w-full h-[200px]' %>
        </div>
    </div>

    <%# GRID COL 4 %>
    <div class="flex mt-2 text-midnight-400" data-toggle-form-target="controls">
      <% if @collaborator %>
        <span class="mr-0 ml-auto p-2 pl-6">
          <%= render(Hovercard::Component.new(path: '', text: 'edit text')) do %>
            <div class="transition text-sm hover:text-midnight-800 hover:cursor-pointer" data-action="click->toggle-form#show">
              <%= helpers.heroicon 'pencil', options: { class: 'w-5 h-5' } %>
            </div>
          <% end %>
        </span>
      <% end %>
      <% if @owner %>
        <span class="mr-0 ml-2 p-2 pl-6">
          <%= render(Hovercard::Component.new(path: '', text: 'restore')) do %>
            <%# TODO: implement restore! %>
            <%= link_to @update_path, class: "transition text-sm hover:text-midnight-800 hover:cursor-pointer" do%>
              <%= helpers.heroicon 'arrow-uturn-left', options: { class: 'w-5 h-5' } %>
            <% end %>
          <% end %>
        </span>
      <% end %>
    </div>

    <%# GRID COL 4 %>
    <div class="hidden flex mt-2 text-midnight-400" data-toggle-form-target="editcontrols">
      <span class="mr-0 ml-auto p-2 pl-6">
        <%= f.submit t('.update'), class: button_classes(color: :success) %>
      </span>
      <span class="mr-0 ml-2 p-2 pt-3">
        <span class="<%= button_classes('py-2') %>" data-action="click->toggle-form#hide">
          <%= t('.cancel') %>
        </span>
      </span>
    </div>
  </div>
<% end %>
