<% content_for(:page_title, t('.title')) %>
<% content_for(:title, t('.title')) %>
<% content_for(:header) do %>
  <%= render(Login::HeaderComponent.new(
    title: t('.title'),
    subtext: t('.subtitle')
  )) %>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="mb-6">
    <%= render(Login::FloatingFieldComponent.new(form: f, name: :email, type: :email, title: t('activerecord.attributes.user.email'), autofocus: true, autocomplete: "email", required: true)) %>
  </div>

  <div class="mb-4">
    <div class="floating-label-field flex flex-col">
      <%= f.label :password, t('activerecord.attributes.user.password'), class: "pb-2 text-midnight-400 text-sm transition-all" %>
      <div class="relative">
        <%= render(PasswordFieldComponent.new(form: f, name: :password, autocomplete: "current-password", class: "peer mb-1", placeholder: t('activerecord.attributes.user.password'), required: true)) %>
      </div>
    </div>

    <%= link_to t('.forgot_password'), new_password_path(resource_name), class: "text-sm p-1 -m-1 mt-2 inline-block hover:underline" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <%= f.hidden_field :remember_me, value: '1' %>
  <% end %>

  <%= render(Login::ButtonComponent.new(form: f).with_content(t('.submit'))) %>

  <p class="mt-5 text-midnight-800 text-center">
    <%= t('.dont_have_account') %>
    <%= render(Login::DeviseFooterLinkComponent.new(path: new_registration_path(resource_name), class: 'text-midnight-900 hover:underline active:underline').with_content(t('.sign_up'))) %>
  </p>
<% end %>
