<div
  class="relative"
  data-transition-target="content"
  data-controller="dropdown"
  aria-label="<%= t('select_language') %>"
>
  <div
    id="select-locale-button"
    data-action="click->dropdown#toggle"
    class="
      flex
      p-2
      pl-6
      w-full
      transition
      hover:underline
      hover:cursor-pointer
    "
  >
    <span class="mr-5"><%= heroicon 'language', options: { class: 'w-6 h-6' } %></span>
    <span><%= @current_language %></span>
    <%=heroicon 'chevron-down', options: {'data-dropdown-target': 'chevron', class: 'ml-auto mr-6 w-5 h-5' } %>
  </div>
  <div
    role="menu"
    aria-labelledby="select-locale-button"
    data-dropdown-target="content"
    tabindex="-1"
    class="
      hidden
      absolute
      bg-midnight-300
      bottom-14
      px-5
      w-full
      text-sm
      z-10
      focus:outline-none
    "
    tabindex="0"
    data-transition-enter-active="transition ease-out duration-100"
    data-transition-enter-from="transform opacity-0 scale-90"
    data-transition-enter-to="transform opacity-100 scale-100"
    data-transition-leave-active="transition ease-in duration-150"
    data-transition-leave-from="transform opacity-100 scale-100"
    data-transition-leave-to="transform opacity-0 scale-95"
  >
    <div
      class="
        w-full
        flex
        flex-col
        px-5
        py-5
        border-t
        border-b
      "
      >
      <% en_locale_component = SelectLocale::ItemComponent.new(
        selected: I18n.locale == :en,
        href: url_for(params.permit(:locale).merge(locale: 'en'))
      ).with_content('English') %>

      <% nl_locale_component = SelectLocale::ItemComponent.new(
        selected: I18n.locale == :nl,
        href: url_for(params.permit(:locale).merge(locale: 'nl'))
      ).with_content('Nederlands') %>

      <%= render en_locale_component %>
      <%= render nl_locale_component %>
    </div>
  </div>
</div>
