.bg-white.transition.p-2.pr-4.rounded-md{ class: ('hidden' if @hidden), data: { id:@saved_scenario.id, sortable_list_target:"listElement" }}
  = form.check_box :saved_scenario_ids, { multiple: true, class: "hidden" }, @saved_scenario.id, nil
  .flex
    .w-min.drag-handle
      = heroicon 'bars-3', options: { class: 'w-4 h-4 mt-5 ml-2 mr-2 text-midnight-400 cursor-move' }
      
    = link_to @path, class: "flex-grow-1 mr-auto p-2 pr-4 rounded-md transition hover:bg-midnight-600 #{css_classes}" do
      .flex
        %span.bg-midnight-900.rounded-md.h-8.w-8.mr-5.pt-1.mt-1.text-center.text-midnight-200= initials_for(first_owner)
        .flex-col
          %span= @saved_scenario.title
          .text-sm.text-midnight-400
            %span= t("areas.#{@saved_scenario.area_code}")
            %span= @saved_scenario.end_year

    .w-min
      - if @saved_scenario.private
        = render(Hovercard::Component.new(path: '', text: t('scenario.private'))) do
          %span= heroicon 'eye-slash', options: { class: 'w-4 h-4 mt-5 mr-3 text-midnight-400' }
    
    .w-min{ data: { action:"click->sortable-list#remove" } }
      %span= heroicon 'x-mark', options: { class: 'w-4 h-4 mt-5' }

