<% content_for :block_right_sub_menu do %>
  <% if has_collections %>
    <%= form_with url: list_collections_path,
      method: :get,
      data: { controller: "search-form", search_form_target: "form", turbo_frame: "collections" } do |form|
      %>
      <div class="flex flex-col pl-5">
        <div class="mb-5 flex text-midnight-800">
            <%= form.text_field :title,
              placeholder: t('collections.search_by_title'),
              class: "p-2 text-sm",
              autocomplete: "off",
              data: { action: "input->search-form#search" }
            %>
            <%= heroicon 'magnifying-glass', options: {class: 'w-5 h-5 ml-2 my-auto'} %>
          </div>
        <div>
          <%= form.check_box :interpolated,
            class: "rounded-md mr-5 border-midnight-400 !checked:bg-midnight-920 text-midnight-920",
            data: { action: "input->search-form#search" }
          %>
          <%= form.label :interpolated, t('collections.filter.transition') ,
            class: "text-sm text-midnight-450"
          %>
        </div>
        <div class="mt-2">
          <%= form.check_box :plain,
            class: "rounded-md mr-5 border-midnight-400 !checked:bg-midnight-920 text-midnight-920",
            data: { action: "input->search-form#search" }
          %>
          <%= form.label :plain, t('collections.filter.plain'),
            class: "text-sm text-midnight-450"
          %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
