<!DOCTYPE html>
<html>
<head>
  <title>Uitnodigingsemail</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      color: #462c34;
      background-color: #fdfdfd;
      margin: 0;
      padding: 20px;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fbf7f6;
      border-radius: 8px;
      padding: 40px;
    }
    .header {
      text-align: center;
      margin-bottom: 30px;
    }
    .header h1 {
      font-size: 24px;
      font-weight: 300;
      color: #462c34;
    }
    .header p {
      font-size: 16px;
      color: rgb(125, 118, 115);
    }
    .btn-container {
      text-align: center;
      margin-top: 30px;
    }
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4e7be4;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      transition: all 0.5s ease;
    }
    .btn:hover {
      background-color: #89a9ec;
    }

    .btn-2 {
      display: inline-block;
      padding: 10px 20px;
      background-color: #fdece0;
      color: #462c34;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      transition: all 0.5s ease;
    }
    .btn-2:hover {
      background-color: rgb(125, 118, 115);
      color: #fbf7f6;
    }
    a {
      color: #4e7be4;
      text-decoration: none;
    }
    .light {
      color: #aba8a7;
      font-size: 14px;
      margin-top: 3rem;
      text-align: center;
    }
    .logo-container {
      height: 50px;
      display: flex;
      color: #462c34;
      align-items: center;
      justify-content: center;
      gap: 13px;
      margin-bottom: 2rem;
    }
    .logo-container h2 {
      font-weight: 300;
      font-size: 16px;
    }
    .logo {
      height: 33px;
      filter: brightness(0.25);
    }
    .dark {
      color: #462c34;
      white-space: nowrap;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo-container">
        <%= email_inline_image_tag("header/logo-round.svg",
            class: "logo",
            alt: "ETM Logo") %>
        <h2><%=I18n.t('meta.title')%></h2>
      </div>
      <% if @name.blank? %>
        <h1>Hallo!</h1>
      <% else %>
       <h1>Hallo <%= @name %>!</h1>
      <% end %>
      <p>
        <%= @inviter_name %> heeft je zojuist uitgenodigd om samen te werken aan het scenario <span class="dark"><%= @saved_scenario_title %></span> van het Energietransitiemodel als <span class="dark"><%=t("scenario_invitation_mailer.roles.#{@new_role}")%></span>.
      </p>
    </div>
    <div class="btn-container">
      <a href="<%= @saved_scenario_link %>" class="btn">Begin met samenwerken</a>
    </div>
    <% if @name.blank? %>
      <p class="light">
        Als je nog geen account hebt, klik dan
      <a href="<%= new_user_registration_url %>">hier om je aan te melden</a>.
      </p>
      <div class="btn-container">
        <a href="<%= new_user_registration_url %>" class="btn-2">Account aanmaken</a>
      </div>
    <% end %>

    <p class="light">
      Als je deze uitnodiging niet verwachtte, negeer dan deze e-mail.
    </p>
  </div>
</body>
</html>
