<!DOCTYPE html>
<html>
<head>
  <title>Invitation Email</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      color: #333;
      background-color: #f9f9f9;
      margin: 0;
      padding: 20px;
    }
    .email-container {
      max-width: 600px;
      background: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: auto;
    }
    p {
      margin: 15px 0;
      line-height: 1.5;
    }
    a {
      color: #007BFF;
      text-decoration: none;
    }
    .light {
      color: #777;
      font-size: 14px;
      margin-top: 20px;
    }
    .logo-container {
      text-align: center;
      margin: 20px 0;
    }
    .logo {
      display: inline-block;
      padding: 10px;
      border-radius: 5px;
    }
    .logo img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <p>Hello!</p>

    <p>
      <%= @inviter_name %> has just invited you to collaborate on the scenario "<%= @saved_scenario_title %>" of the Energy Transition Model as a <%=t("scenario_invitation_mailer.roles.#{@new_role}")%>.
    </p>

    <p>
      If you already have an account with
      <a href="<%= Settings.etmodel_uri %>">https://energytransitionmodel.com</a>,
      follow <a href="<%= @saved_scenario_link %>">this link</a> to view the scenario and start collaborating!
    </p>

    <p>
      If you don't have an account yet, click
      <a href="<%= new_user_registration_url %>">here to register</a>.
    </p>

    <p class="light">
      If you weren't expecting this invitation, please ignore this email.
    </p>

    <div class="logo-container">
      <a class="logo" href="<%= Settings.etmodel_uri %>">
        <%= email_inline_image_tag("header/logo-round.svg",
            style: "width: 50px; height: auto; display: inline-block;",
            alt: "ETM Logo") %>
      </a>
    </div>
  </div>
</body>
</html>
