<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm Your Account</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #fdfdfd;
      padding: 20px;
    }
    .container {
      max-width: 700px;
      margin: 0 auto;
      background-color: #fbf7f6;
      border-radius: 8px;
      padding: 40px;
    }
    .header {
      text-align: center;
      margin-bottom: 30px;
    }
    .header h1 {
      font-size: 24px;
      font-weight: 300;
      color: #462c34;
    }
    .header p {
      font-size: 16px;
      color: rgb(125, 118, 115);
    }
    .btn-container {
      text-align: center;
      margin-top: 30px;
    }
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4e7be4;
      color: #FBF7F6 !important;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: normal;
      text-decoration: none !important;
    }
    .btn:hover {
      background-color: #89a9ec;
      color: #fbf7f6 !important;
      text-decoration: none !important;
    }
    .confirmation-url {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      color: #aba8a7;
    }
    .logo-container {
      height: 50px;
      display: flex;
      color: #462c34;
      align-items: center;
      justify-content: center;
      gap: 13px;
      margin-bottom: 2rem;
    }
    .logo-container h2 {
      font-weight: 300;
      font-size: 16px;
    }
    .logo {
      height: 33px;
      filter: brightness(0.25);
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo-container">
        <%= email_inline_image_tag("header/logo-round.svg",
            class: "logo",
            alt: "ETM Logo") %>
        <h2><%=I18n.t('meta.title')%></h2>
      </div>
      <h1>Welcome <%= @resource.name %>!</h1>
      <p>You must confirm your account through the link below to finish setting up.</p>
    </div>
    <div class="btn-container">
      <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>" class="btn">Activate My Account</a>
    </div>
    <div class="confirmation-url">
      <p>If the button above does not work, you can copy and paste the following link into your browser:</p>
      <p><%= confirmation_url(@resource, confirmation_token: @token) %></p>
    </div>
  </div>
</body>
</html>
