<% if @enabled %>
  <div class="flex items-start gap-2 text-midnight-980 mb-2" <%= testid %>>
    <%= heroicon 'check', options: { class: 'w-5 h-5' } %>
    <%= @name %>
  </div>
<% else %>
  <div
    class="flex items-start gap-2 text-sm text-midnight-400 mb-2"
    aria-hidden="true"
    <%= testid %>
  >
    <%= heroicon 'lock-closed', options: { class: 'w-4 h-4' }  %>
    <%= @name %>
  </div>
<% end %>
