.sidebar.fixed.top-0.bottom-0.overflow-y-auto.bg-midnight-300{class: 'lg:left-0 w-[300px]'}
  -# Where does the logo refer to? REMEMBER LAST VERSION IN COOKIE
  %a.logo.p-5.mb-3.inline-block.w-full.text-midnight-800
    = image_tag 'header/logo-round.png', class: 'h-8 inline mb-1 mr-2 hover:animate-spin'
    %span Energy Transition Model


  = render(SidebarItem::Component.new(path: saved_scenarios_path, title: t('sidebar.saved_scenarios'), icon: 'adjustments-horizontal', active: controller_name == 'saved_scenarios'))

  = render(SidebarItem::Component.new(path: saved_scenarios_path, title: t('sidebar.collections'), icon: 'chart-bar-square', active: controller_name == 'collections'))

  = render(SidebarItem::Component.new(path: saved_scenarios_path, title: t('sidebar.discarded'), icon: 'trash', active: controller_name == 'discarded'))

  .absolute.bottom-0.left-0.inline-block.w-full
    .p-5.pl-6.text-midnight-800
      %span= heroicon 'language', options: { class: 'inline-block w-6 h-6' }
      Switch language
    .bg-midnight-600.py-3
      = render(SidebarItem::Component.new(path: saved_scenarios_path, title: t('sidebar.profile'), icon: 'user-circle', active: controller_name == 'user', text: 'text-midnight-800'))
