.sidebar.fixed.top-0.bottom-0.overflow-y-auto.bg-midnight-300{class: 'lg:left-0 w-[300px]'}
  -# Where does the logo refer to? REMEMBER LAST VERSION IN COOKIE
  %a.logo.p-5.mb-3.inline-block.w-full.text-midnight-800
    = image_tag 'header/logo-round.png', class: 'h-8 inline mb-1 mr-2 hover:animate-spin'
    %span Energy Transition Model

  - if current_user
    = render(SidebarItem::Component.new(path: saved_scenarios_path, title: t('sidebar.saved_scenarios'), icon: 'adjustments-horizontal', active: %w[saved_scenarios saved_scenario_users].include?(controller_name)))

    = render(SidebarItem::Component.new(path: collections_path, title: t('sidebar.collections'), icon: 'chart-bar-square', active: controller_name == 'collections'))

    = render(SidebarItem::Component.new(path: discarded_path, title: t('sidebar.discarded'), icon: 'trash', active: controller_name == 'discarded' ))

    - if current_user.admin?
      = render(SidebarItem::Component.new(path: admin_path, title: t('sidebar.admin'), icon: 'beaker', active: %[users staff_applications].include?(controller_name)))

  .absolute.bottom-0.left-0.inline-block.w-full
    -# = render(SelectLocale::Component.new)
    .py-3.text-midnight-800
      = render(SelectLocale::Component.new(current_language: t('language')))
      -# %span= heroicon 'language', options: { class: 'inline-block w-6 h-6' }
      -# Switch language
    - if current_user
      .bg-midnight-600.py-3{ class: 'hover:underline' }
        = render(SidebarItem::ProfileComponent.new(path: identity_profile_path, title: current_user.name, icon: 'user-circle', active: controller_name == 'settings', text: 'text-midnight-800'))
    - else
      -# TODO: login!
      LOGIN
