.sidebar.fixed.top-0.bottom-0.overflow-y-auto.bg-midnight-300{class: 'lg:left-0 w-[300px]'}
  %a.logo.p-5.mb-3.inline-block.w-full.text-midnight-800{href: Version.model_url(active_version_tag)}
    = image_tag 'header/logo-round.png', class: 'h-8 inline mb-1 mr-2 hover:animate-spin'
    %span Energy Transition Model

  - if current_user
    = render(SidebarItem::Component.new(path: saved_scenarios_path, title: t('sidebar.saved_scenarios'), icon: 'adjustments-horizontal', active: %w[saved_scenarios saved_scenario_users].include?(controller_name) && !controller_path.include?('admin')))

    = render(SidebarItem::Component.new(path: collections_path, title: t('sidebar.collections'), icon: 'chart-bar-square', active: controller_name == 'collections' && !controller_path.include?('admin')))

    = render(SidebarItem::Component.new(path: discarded_index_path, title: t('sidebar.discarded'), icon: 'trash', active: controller_name == 'discarded' ))

    - if current_user.admin?
      = render(SidebarItem::Component.new(path: admin_path, title: t('sidebar.admin'), icon: 'beaker', active: controller_path.include?('admin')))

  .absolute.bottom-0.left-0.inline-block.w-full
    .py-3.text-midnight-800
      = render(SelectLocale::Component.new(current_language: t('language')))
    - if current_user
      = render(SidebarItem::ProfileComponent.new(path: identity_profile_path, sign_out_path: destroy_user_session_path,title: current_user.name, icon: 'user-circle', active: controller_name == 'settings', text: 'text-midnight-800'))
    - else
      redirect_to sign_up_path
