<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:page_title) ? "#{content_for(:page_title)} | " : "" %>
      <%= t('identity.site_title') %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path("favicon.svg") %>

    <%= javascript_importmap_tags "identity" %>
  </head>

  <body class="guest">
    <div class="min-h-screen flex items-center justify-center">
      <div class="container mx-auto">
        <main class="w-[30rem] mb-24 mx-auto mt-12 bg-midnight-300 rounded-lg shadow-xl">
          <div
            class="
              px-5
              py-4
              pt-6
              rounded-t-md
              text-midnight-800
              logo
              inline-block
              ml-5
            "
          >
            <%= image_tag 'header/logo-round.png', class: 'h-8 inline mb-1 mr-2 hover:animate-spin'%>
            <span> Energy Transition Model </span>
          </div>
          <div class="p-12">
            <%= yield(:header) %>

            <% if flash[:notice].present? %>
              <p
                class="
                  border
                  border-gray-200
                  p-2
                  rounded
                  font-medium
                  text-midnight-980
                  mt-4
                  mb-8
                "
              ><%= notice_message %></p>
            <% end %>

            <% if flash[:alert].present? %>
              <p
                class="
                  bg-red-100
                  border
                  border-red-300
                  p-2
                  rounded
                  font-medium
                  text-red-800
                  mt-4
                  mb-8
                  text-center
                "
              ><%= alert_message %></p>
            <% end %>
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
